#SubmitBar > input[type="text"] {
    margin-right: 10px;
    height: 30px; 
}

#SubmitBar > input[type="button"] {  
    width: 50px;
    background-color: #569DAA;
    color: white;
}

#SubmitBar > input[type="button"], #SubmitBar > input[type="text"] {
    border: 0px;
    height: 30px; 
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;  
}

#SubmitBar > input[type="button"]:hover {
    cursor: pointer;
}